.calendar {
    border: solid 1px;
    text-align: center;
    border-spacing: 0px;
    width:100%;
    margin-top: 5px;
    border-collapse: collapse;
}
.calendar th {
    font-weight: normal;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
}
.calendar td {
    width:23px;
    color:white;
    border: solid 1px black;
    text-align: center;
}
.calendar-title {
    border-bottom: solid 1px;
}
.calendar-header {
    border-bottom: solid 1px;
}
.calendar-week {
    border-right: solid 1px;
}
.calendar-free {
    background-color: #009900;
}
.calendar-free:hover {
    background-color: #00bb00;
}
.calendar-busy {
    background-color: #df0000;
}
.calendar-busy:hover {
    background-color: #ff0000;
}
